<div class="card">
  <div class="card-body">
    <h1 class="card-title">Login</h1>
    <hr>
    <div>
      <ng-container> 
        <h2>External Providers</h2>
        <div style="padding: 20px;">       
          <div id="g_id_onload"
            data-client_id="469076646558-rrgdfikqgs6a5unava05em1hrokhht5t.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:4200/home"
            data-auto_prompt="true">
          </div>

          <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
